<!DOCTYPE html>
<html lang ="en">
	<head>
		<title>ViewPage</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body style="color:blue; background-color: #b9b9b9;">
		<h1 align = "center">YUMMY RECIPES</h1>
		<div align = "center" style = "padding-top:15%; display: block;">
			<ul>
				<li style="color: black;">first recipe
					<button class="btn btn-primary" type ="button">EDIT</button>
					<button class="btn btn-primary" type ="button">DELETE</button>
				</li>
				
			</ul>
			

		</div>
	</body>
</html>