<!DOCTYPE html>
<html lang ="en">
	<head>
		<title>LoginPage</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body style="color:blue; background-color: #b9b9b9;">
		<h1 align = "center"style="padding-right:10%">YUMMY RECIPES</h1>
		<div align = "center" class = "container" style = "padding-top:10%; display: block;">
			<form class = "form-signin" style = "padding-right:15%;">
				<label>Username: </label>
				<input type = "text" name = "username" class= "btn-lg" ><br />
				<label>Password: </label>
				<input type = "password" id= "inputPassword" name = "conpassword" class= "btn-lg" required><br />
				<div style = "padding-top:5%; padding-left:10%; "><input type="submit" value="Submit" class= "btn-lg btn-primary " ></div>
				
				<p style="color:black">Not Registered with us?<a href="UserReg.html">REGISTER HERE</a></p>
			</form>
		</div>
	</body>
</html>