<!DOCTYPE html>
<html lang ="en">
	<head>
		<title>UserReg</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body style="color:blue; background-color: #b9b9b9;">
		<h1 align = "center">YUMMY RECIPES</h1>
		<div class = "container" align = "center" style = "padding-top:10%; display: block;">

			
			<form class = "form-signin btn-lg" style = " display: block;" action = "/UserReg" method = "POST">

				<b style="color:red;">{{ errorMessage }}</b>

				<label >Username:</label> 
				<input type = "text" class= "btn-lg"  name = "username"style ="padding-right: 30%;"><br />

				<label style ="padding-right: 6%;">Email:</label> 
				<input type = "email" id= "inputEmail" class= "btn-lg"  name = "email" style ="padding-right: 30%;"><br />

				<label>Password:</label> 
				<input type = "password" id= "inputPassword" name = "password" class= "btn-lg" required style ="padding-right: 30%;"><br />

				<label style ="padding-left: 10%;">Confirm Password: </label>
				<input type = "password" id= "inputPassword" name = "conpassword" class= "btn-lg" required style ="padding-right: 30%;"><br />

				<button class="btn-lg btn-primary">SUBMIT</button>
			</form>

		</div>
	</body>
</html>