<!DOCTYPE html>
<html lang ="en">
	<head>
		<title>ViewPage</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
    			$("#del").click(function(){
       				 $("#lst").remove();
    			});
			});
		</script>
	</head>
	<body style="color:blue; background-color: #b9b9b9;">

		<h1 align = "center">YUMMY RECIPES</h1>

		<p align = "left"><b>WELCOME TO YUMMY{{ uname}}</b></p>

		<div align = "center" style = "padding-top:15%; display: block;">
			<table class = "table table-bordered table-striped">

				<thead>
					<h2>THAT YUMMY MOMENT</h2>
				</thead>

				<tr>
					<th>
						<b>NAME</b>
					</th>

					<th>
						<b>INGREDIENT</b>
					</th>

					<th>
						<b>INSTRUCTIONS</b>
					</th>

				</tr>

				
				<ol><tr>
					<td><li>chapati</li></td>
					<td><ul><li>white flour</li></ul></td>
					<td><ul><li>mix with water and fry</li></ul></td>
					<td><button class="btn btn-primary glyphicon glyphicon-pencil" type ="button"></button>
				<button id = "del" class="btn btn-primary glyphicon glyphicon-remove" ></button></td>

				</tr></ol>
				{% if result != {} %}
				
				<ol><tr>
					<td><li>{{ result['recipeName'] }}</li></td>
					<td><ul><li>{{ result['Ingredients'] }}</li></ul></td>
					<td><ul><li>{{ result['Instructions'] }}</li></ul></td>
					<td><button class="btn btn-primary glyphicon glyphicon-pencil" type ="button"></button>
				<button id = "del" class="btn btn-primary glyphicon glyphicon-remove" ></button></td>
				</tr></ol>
				{% endif %}
			</table>

			
			<p class=" btn btn-primary" ><a href="/addRecipe" style = "color: black">+ ADD</a></p>

		</div>
	</body>
</html>